body {
  background-color: cornflowerblue;
}

#container {
  text-align: center;
  margin-top: 200px;
}

.number-container {
  border: 4px solid gray;
  background-color: blue;
  color: white;
  width: 350px;
  margin-left: 550px;
  font-size: 45px;
}
